.fill-height{
    height: 100%;
}

.card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-body{
    height: 300px;
}

#body{
    background-color: #76B75B;
}

#robert-card-footer{
background-color: #D49F6A;
}

#robert-card-body{
background-color: #FFD4AA;
}

#richard-card-footer{
background-color: #D46A6A;
}

#richard-card-body{
    background-color: #FFAAAA;
}

#zander-card-footer{
background-color: #447884;
}

#zander-card-body{
    background-color: #6B949E;
}